<!DOCTYPE html>
<html xmlns:th="http://www.thymeleafe.org">

<header th:fragment="menu">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Best Of...</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" th:href="@{/movies}" aria-current="page">Movies
                            <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="mx-3 btn btn-outline-primary" th:href="@{/songs}">Songs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>