<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:replace="~{fragments/stylesImport :: bootStyle}">

    <title>Movies</title>
</head>

<body>
    <th:block th:insert="~{fragments/nav :: menu}"></th:block>

    <main>
        <section>
            <div class="container w-50 text center my-5">
                <h1 class="my-4">Songs List</h1>
                <div class="my-3" th:each="song : ${songsList}">
                    <div th:object="${song}">
                        <th:block th:replace="~{fragments/card :: card(*{getTitle()}, *{getId()}, song)}" />
                    </div>

                </div>
            </div>
        </section>
    </main>



</body>

</html>